@import './flexible.scss';

.app {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}

.transport_wrapper {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
  .transport {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .transBtn {
      width: 90px;
      height: 50px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    #startButton {
      background: #0ac940;
      color: #fff;
      &:hover {
        opacity: 0.7;
      }
    }
    #stopButton {
      background: #da2f2f;
      color: #fff;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.disabled {
  cursor: default !important;
  background: #b5b5b5 !important;
  opacity: 0.3;
  &:hover {
    opacity: 0.3 !important;
  }
}

// .plug > * {
//   transform: scale(0.7);
// }

.plug {
  width: 1250px;
  height: 260px;
  margin: 0 auto;
  .plate {
    width: 1250px;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("./images/eq_plate.png");
  }
}

.plate_face {
  width: 83%;
  height: 90%;
}
