@import './flexible.scss';

.app {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}

.transport_wrapper {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
  .transport {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .transBtn {
      width: 90px;
      height: 50px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    #startButton {
      background: #0ac940;
      color: #fff;
      &:hover {
        opacity: 0.7;
      }
    }
    #stopButton {
      background: #da2f2f;
      color: #fff;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

// .disabled {
//   cursor: default !important;
//   background: #b5b5b5 !important;
//   opacity: 0.3;
//   &:hover {
//     opacity: 0.3 !important;
//   }
// }

// .plug > * {
//   transform: scale(0.7);
// }

.plug {
  width: 255px;
  height: 870px;
  margin: 25px auto 0;
  .plate {
    width: 255px;
    height: 870px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("./images/med_blue.png");
  }
}

.plate_face {
  width: 100%;
  height: 90%;
}

.top_section {
  width: 80%;
  height: 65%;
  margin: 20px 0 0;
}

.bottom_section {
  width: 95%;
  height: 35%;
}






.rightPad {
  padding-right: 75px;
}

.marginTop {
  margin-top: -50px;
}
